@font-face {
    src: url('../fonts/porto-icons.woff2') format('woff2'),url('../fonts/porto-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal
}
/* Magento-style CSS */
.row{margin-right:0;margin-left: 0;}
.site-header{position: unset;}
.top-header { background: #fff;min-height:70px; box-shadow:none !important}
.loader-back.loading, .loader-back-image.loading, #message-back.loading {visibility: hidden!important;}
.main-menu-wrapper {background: #fff;padding: 5px 0px 0px 0;}
.shop-ul li {
	font-weight: normal!important;
	margin-right: 0;padding: 0 10px 0 0;
	line-height: 1;
	color: #2f2f2f;margin-right: 20px;
	text-transform: uppercase;
	font-weight: 600;font-size: 17px;
	float: left;margin-top: 23px;
    
/* font-family: 'Brandon_bld'; */

}                  
.shop-ul li a{padding:5px 7px;}                              
.navbar{border:none;}
.navbar-inverse .navbar-toggle{background-color: #444;}
.nav.navbar-nav{background-color: #222;margin-top:0px;}
.navbar-nav > li > a {	text-align: left;}
#mobile_custom_neon {padding: 5px;background: #fff;}
#mobile_custom_neon .navbar-toggle{float:left;}
.shop-ul {padding: 6px 0 0 0;
/* font-family: 'Oswald'; */
overflow:hidden;height:64px;margin-top: 10px; width:73vw;margin-left: 115px !important;}
.shop-ul .level-top-logo{margin-top: -8px;}
.shop-ul .level-top-logo{margin-top: -8px;}
.shop-ul .cusSearch, .shop-ul .cusCart{float:right;}

@media (max-width: 1350px) {
    #mobile_custom_neon{display: block!important;}    
    .site-header{display:block !important}
    .site-header .col-md-2.col-sm-2.col-xs-2.main-menu-wrapper {display: none;}
    .site-header .shop-ul li {display: none;}
    .site-header .shop-ul li.cusSearch {display: block;}
    .site-header .shop-ul li.cusCart {display: block;}
    .site-header .visible-xs.visible-sm.menu-toggle,
    .site-header .shopping_cart_xs.visible-xs.visible-sm {display: none !important;}
    .site-header .top-header {position: absolute;top: 0px;right: 50px;background: none;}
    .site-header .shop-ul{display: inline; padding:6px 0 0 0; margin-left:160px !important;
    /* font-family:'Oswald'; */
     overflow:hidden;height:59px;width:auto;padding-top: 0;margin-top: -5px;}
    .cusSearch .block.block-search {right: -30px;width: 341px;}
    .top-header .main-menu-wrapper{background: none}        
    .navbar-nav {float: none !important; margin:7.5px -15px !important}
    .navbar-collapse.collapse {display: block !important; border:none;}
    .navbar-header{text-align: center;float: none; z-index: 999; position: relative;}    
    .navbar-left,.navbar-right {   float: none !important; }
    .navbar-toggle { display: block;  }
    .navbar-collapse {    border-top: 1px solid transparent;    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);  }
    .navbar-fixed-top {  top: 0;  }
    .navbar-collapse.collapse {    display: none!important;  }
    .navbar-nav>li {  float: none; }
    .navbar-nav>li>a { padding-top: 10px;  padding-bottom: 10px; }
    .collapse.in{display:block !important;}
    .navbar-brand {display: inline-block;float: none;}
    .navbar-form.form-inline {display: inline-block;border-color: transparent;margin: 4px;padding: 5px;}
    .navbar-form .form-control {display: inline-block;width: auto;vertical-align: middle;}    
}
@media (max-width: 1190px) {
  .site-header .shop-ul {width: auto !important; display: inline;}
}
@media only screen and (max-width: 767px) {
    #mobile_custom_neon{display: block!important;}
    .site-header{display: none!important;}
    .navbar-header{text-align: center;}
}
.cusCart{background: url('../images/cart.png') no-repeat center bottom; width:36px; height:50px;margin-top:-12px !important;
border-right:none !important;padding: 20px 0 0 22px !important;font-size: 12px !important;color: #333 !important;}
.cusCart a span{margin-top: 5px !important;background: #444;border-radius: 5px;height: 18px;width: 18px;display: block;padding: 2px 6px;}
.cusCart a{width: 36px;height: 50px;padding: 13px 0 0 0px !important;display: block;color:#fff}
.cusSearch{border-right:none !important;}
.cusSearch img{margin-top:-3px !important}
.page-footer{padding:0;background: none;margin-top:40px}
.footer-top {background-color: #161616;padding: 55px 0 0;font-size: 15px;
/* font-family: 'Poppins'; */
letter-spacing: 0.005em;text-align: left;color: #fff;line-height: 24px;}
.footer-top, .footer-top p .footer-top p a, .footer-middle p a, .footer-middle a{ line-height: 24px;color: #fff !important;}
.footer-middle { padding: 45px 0 0; font-size: 22px;  letter-spacing: 0.005em; text-align: left; background-color: #F18BB9;}
.footer-middle, .footer-middle p { line-height: 28px; color: #fff;}
.footer-middle .block .block-title strong, .footer-top .block .block-title strong {  font-size: 22px;font-weight: 400; text-transform: uppercase; text-align: left;color:#fff;background: #F18BB9;}
.footer-top .block .block-title { text-align: left;color: #fff; margin: 5px 0 10px; line-height: 1.2; font-size: 16px;}
.footer-middle .block-middle2 { padding-top: 36px;}
.footer-middle .block-bottom { text-align: right; padding: 27px 0; overflow: hidden; margin-top: 32px;font-size: 16px;
/* font-family: 'brandon_light'; */
}
.footer-middle ul.links { margin-top: -5px;}
.footer ul { list-style: none; margin: 0;    margin-top: 0px; padding: 0;}
.page-footer .col-md-6, .footer-middle .block-middle2 .col-md-8, .footer-middle .block-bottom .col-md-8, .footer-middle .block-bottom .col-md-4{padding-left:0px !important}
.footer-middle .block-middle2 .col-md-4, .footer-middle .block-bottom .col-md-8{padding-right:0}
.footer-middle .block-middle2 .col-md-4 .block-content .col-md-6{float: right;padding-right: 0;}
.footer-middle .block-middle2 .col-md-4 .block-content .col-md-6 .social-icons{float: right;display: flex;}
.contact-info a{border:none !important}
.footer-top .contact-info{padding-top: 7px;}
.footer .social-icons a{float:left}
.footer-top .contact-info b{color: #fff;text-transform:uppercase;font-size:90%}
.footer-middle .subcribe .block-title strong {
/* font-family: 'Oswald'; */
font-size: 15px;font-weight: 400;letter-spacing: 0.075em;text-transform: uppercase;color: #fff;display: block;margin-top:8px;}
.footer-middle .block.newsletter .control input {background-color: #fff;color: #686865;height: 44px;border: none;font-size: 14px;border-radius: 5px 0 0 5px;padding-left: 40px;width:100%}
.block.newsletter .actions {display: table-cell;vertical-align: top;width: 1%;}
.footer-middle .block.newsletter .actions .action.subscribe {height: 44px;border-radius: 0 5px 5px 0;text-transform: uppercase;padding: 0 22px;background-color: #404040;}
.footer-middle .block.newsletter .action.subscribe {font-size: 14px;line-height: 30px;font-weight: 400;}
.footer-middle .action.primary, .footer-middle .action.primary:active { 
/* font-family: "Oswald"; */
letter-spacing: 1px;text-transform: uppercase;}
.footer-middle .block-bottom .subcribe{float:left;width:60%}
.footer-middle .block-bottom .subcribe .block-title{float: left;margin-right: 20px;}
.footer-middle .block-bottom .subcribe form .field.newsletter{float: left;width: 50%;}
.footer-middle .block.newsletter .actions .action.subscribe{padding: 0 20px}
.footer-middle .subcribe .content{padding:0}
.shop-ul .miniCart, .shop-ul .miniSearch{display: none;position: absolute;z-index: 999;color: #444;background: #fff;box-shadow: 0 0 5px rgba(0,0,0,0.25);width: 345px;margin-right: 25px;right: 61px;margin-top:-12px}
.shop-ul .miniCart li{color: #777;font-size: 13px;text-transform: none;letter-spacing: 0;margin-right: 0;border: none;padding: 10px 0;
/* font-family: 'Assistant-Light','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
width: 100%;text-align: center;}
.shop-ul .miniCart .emptyCart{display:block; margin:0 0 20px 0 !important;width:100%}
.shop-ul .miniCart .miniCartWrap{margin:0 15px !important;display:block;text-align: left;}
.shop-ul .miniCart .miniCartWrap b {font-size: 18px;color: #161616;font-weight: bold;}
.shop-ul .miniCart .miniCartWrap a.chk{width: 100%;text-align: center;background: #222;color: #fff;padding: 13px 0 !important;height: auto;margin: 15px 0 12px;
/* font-family: "Oswald"; */
letter-spacing: 1px;font-size: 15px;}
.shop-ul .miniCart .miniCartWrap .proWrap{width:100%; display: block;float: left;border-bottom: 1px solid #f1f1f1;padding-bottom: 23px; padding-top: 10px;}
.shop-ul .miniCart .miniCartWrap .proWrap .left{float:left; width:28%;display: block;border: 1px solid #ececec;}
.shop-ul .miniCart .miniCartWrap .proWrap .right{float:right; width:66%;display: block;font-size:14px}
.shop-ul .miniCart .miniCartWrap a{width: 100%; height: auto;color: #777; font-size: 14px; font-weight: 400; margin: 0 0 9px;}
.shop-ul .miniCart .miniCartWrap .viewcart{display: block;width: 100%;float: left;}
.shop-ul .miniCart .miniCartWrap .viewcart a{text-align: center;border: 1px solid #ccc;padding: 15px 0 !important;margin: 17px 0 13px;font-size:15px; color: #161616 !important;}
.shop-ul .miniCart .miniCartWrap .numItems{float:right;width:35%;display: block;}
.shop-ul .miniSearch .input-text { border:none;border-right: 1px solid #ddd;position: static;margin: 0;height: 40px;padding: 10px 50px 10px 20px;float:left;
  /* font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
  font-size: 13px;vertical-align: baseline;width:84%}
.shop-ul .miniSearch li{padding:0; margin:0;width: 100%;}
.shop-ul .miniSearch #searchBtn{border: none;background: #fff; cursor: pointer;}
.shop-ul .miniSearch #search_mini_form{width:100%}
.shop-ul .miniSearch{margin-top:2px;margin-right:50px; right:50px}
.shop-ul .miniSearch #searchBtn span{background: url('/create-neon-sign/images/searchwhite.jpg') no-repeat center; width:28px; height:24px;font-size:0px;display: table;margin:8px 0 0 5px;}
.message .success{background: #e5efe5; color:#006400}
.message .success p{padding: 10px 30px;
/* font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
text-align: left;font-size: 13px;margin-left: 20px;background: url('/create-neon-sign/images/success.jpg') no-repeat left center;}
.message .error{background: #fae5e5; color:#e02b27}
.message .error p{padding: 10px 30px;
/* font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
text-align: left;font-size: 13px;margin-left: 20px;background: url('/create-neon-sign/images/error.jpg') no-repeat left center;}
#color_table li.col-xs-2{width: 19.667% !Important;}

.color_desc {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  width: 100%;
}
.color_desc span.cdesc {
  display: inline-block;
  width: 100%;
}
.color_desc span.cimg {
  display: inline-block;
  width: 100%;
max-width:335px;
align: center;
repeat: none;
  height: 150px;
  margin-top: 10px;
}
.color_desc span.cmore {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  text-align: center;
}
.color_desc span.cmore > a {
  color: #337ab7;
}
.color_style li > .color_name{font-size:10px !Important;}
#size_table .size-box .s_size,
#size_table .size-box .s_size2{ 
    padding:0 ;
    text-align: right;
}
.s_size2 div, .s_size div {
	
	color: #010101;
	font-size: 9pt;
    width: 100%;
    display: inline-block;
    background: #e7e6e6;
    box-sizing: border-box;
    padding-right: 3px;
}
.s_size2 div:nth-child(2), .s_size div:nth-child(2) {
	background: #FFF;
}
#quoteform{display:none; width: 70%; float: left;margin:10px 30px;text-align: left;}
#quoteform label{text-align: left;float: left;}
.parallax { 
  height: 720px; 
  width:100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* the line below is to force the image to go full width */ 
  margin-left: calc(-50vw + 50%);
}
.parallax2 { 
  height: 720px; 
  width:100vw !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* the line below is to force the image to go full width */ 
  margin-left: calc(-50vw + 50%);
}   
.parallax3 { 
  height: 720px; 
  width:100vw !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* the line below is to force the image to go full width */ 
  margin-left: calc(-50vw + 50%);
}  

.bg_style {
	position: absolute;
    bottom: 0;
    width: 100%;
}
.bg_style label {
	text-transform: uppercase;
    width: 385px;
    color: #fff;
    padding: 0 10px;
    background: rgba(0,0,0,0.5);
    margin: 0;
	letter-spacing: 2px;
}
.bg_style ul {
	display: inline-block;
}
.bg_style li {
	height: 56px;
	width:77px;
	float:left;
}
.demo_text {
	display: flex;
   	justify-content: center;
	align-items: center;
	position:relative;
}
.demo_text > .text_show {
	width :auto;
}
#size_table {
	display: inline-block;
    width: 100%;
    padding: 0 5px;
}
.cusCart ul.miniCart {
    border-top: 6px solid #444;
}
.cusCart ul.miniCart:before {
    content: '';

    display: block;
    height: 0;
    position: absolute;
    width: 0;
    border-bottom-color: #161616;
    left: auto;
    right: 26px;
    border: 8px solid;
    border-color: transparent transparent #161616 transparent;
    top: -21px;
}
.cusCart .right span.proqtycnt {
    border: 1px solid #ccc;
    padding: 8px 12px 8px 12px;
    margin-left: 19px;
}
.cusCart .miniCart .miniCartWrap .cart-items {
    max-height: 250px;
    overflow-x: auto;
}
.cusCart .miniCart .miniCartWrap .cart-items .productPrice {
    margin-top: -20px;
    margin-bottom: 22px;
}
.miniCart .miniCartWrap .right .toggle.active>.poticon:after {
    content: '\02C4';

}
.miniCart .miniCartWrap .right .toggle>.poticon:after {
    content: '\02C5';

}
.miniCart .miniCartWrap .right .toggle>.poticon:after {
    position: static;
    margin: 0 0 0 4.5px;
    color: #8f8f8f;
}
.miniCart .miniCartWrap .cstlabel {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 0px 9px 0px;
}
.miniCart .miniCartWrap .cstvalue {
    font-size: 15px;
}
/* --- Dropdown menu --- */
.shop-ul .shop-link{ 
    position: relative;
  }
  .shop-ul ul.dropdown-menu li{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    text-transform: none;
    float: left;
    width: 100%;
    border-bottom: 1px solid #eee;
    
  /* font-family: Brandon_light; */
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
  }
  .shop-ul .dropdown-menu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 100;
    display: block !important;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
    background-color: #fff;
    width: 300px;
    margin: 0;
    border: none;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
  }
  .shop-ul ul.dropdown-menu ul li > a {
      display: block;
      font-size: 14px;
      text-transform: none;
      font-weight: normal;
  }
  .shop-ul .dropdown-menu > li > a, .shop-ul .dropdown-menu > li > a:hover{
    color:#555;
    background: none;
  }
  .shop-ul li:hover > ul.dropdown-menu{ opacity:1;visibility:visible;transform:translateY(10px);-webkit-transform:translateY(10px);-moz-transform:translateY(10px);-o-transform:translateY(10px)}
  .shop-ul li.dropdown-submenu:hover > ul.dropdown-menu{ opacity:1;visibility:visible;transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0)}
  .shop-ul{overflow: unset;}
  .shop-ul ul.dropdown-menu li{position: relative;}
  .shop-ul ul.dropdown-menu li > ul.dropdown-menu {
      left: 100%;
      top: 0;
  }

  @media (min-width: 992px){
    .col-md-8-5 {
      width: 64%;
    }
    .col-md-3-5 {
      width: 36%;
    }
  }
  /* The container */
  .custom-checkbox .custom-control-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
  }

  /* Hide the browser's default checkbox */
  .custom-checkbox .custom-control-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .custom-control.custom-option{
    text-align: left;
    
  /* font-family: 'Brandon_light', sans-serif;       */
  }
  .custom-control.custom-option .col-xs-6, .custom-control.custom-option .col-xs-5, .custom-control.custom-option .col-xs-7{
    padding: 0;
    margin-top: 10px;
  }
  .custom-control.custom-option label{
    float: left;
    color: #00c4c8;
    font-size: 20px;
  }  

  .custom-control.custom-option small{
    float: right;
    width: 52%;
    font-weight: bold; 
    font-size:14px;   
  }
  .custom-control.custom-option .col-xs-7 small{
    width: 65%;
  }
  .custom-control.custom-option span{
    font-weight: bold;
    
  }
  .custom-control.custom-option .info-light{
    display:none;
    border-radius: 5px;
    background-color: #dcfcfd;
    color: #00c4c8;
    padding: 5px 15px;
    margin-top: 5px;
  }
  .custom-control.custom-option .info-light.active{
    display:block;
  }
  
  .custom-control.custom-radio{
    margin-bottom: 5px;
  }
  /* Create a custom checkbox */
  .custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid gray;
  }

  .custom-radio label {
   border: 2px solid #f5f5f5;
   background: #f5f5f5;
   border-radius: 5px;
   width: 100%;
   text-align: center;
   padding: 10px;
   color: #404040;
   
   font-size: 14.4px;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   cursor: pointer;
   height: 66px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
 }
 .main_radio .col-xs-6{
  padding: 0 5px;
}
.custom-radio.selected label, .custom-radio:hover label {
  box-shadow: unset;
  border-color: transparent;
  border-radius: 5px;
  border: 2px solid #00d1e4;
  background: #fff;
}
.custom-radio input{
  position: absolute;
  opacity: 0;
}
span.radio_span {
  display: inline-block;
  margin: 10px 0 0;
  
  color: #010101;
}
/* On mouse-over, add a grey background color */
.custom-checkbox .custom-control-label:hover input ~ .checkmark {
  background-color: #fff;
  border: 2px solid gray;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox .custom-control-label input:checked ~ .checkmark {
  background-color: #00d1e4;
  border-color: #00d1e4;
}
.custom-checkbox .custom-control-label input[type=checkbox]:checked + label{
  background-color: #00d1e4;
} 

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox .custom-control-label:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox .custom-control-label input:checked ~ .checkmark:after {
  display: block;
}
.form-group.main_radio {
  padding: 0 5px;
}
/* Style the checkmark/indicator */
.custom-checkbox .custom-control-label .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
}
.color_desc {
 width: 100%;
 background-color: #f5f5f5;
 color: #404040;
 -webkit-border-bottom-right-radius: 10px;
 -webkit-border-bottom-left-radius: 10px;
 -moz-border-radius-bottomright: 10px;
 -moz-border-radius-bottomleft: 10px;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;

}

.cdesc {
  padding:0px 5px 0px 5px;
}
.demo_on_off.offswitch {
  background: url(../../images/off_new.png) no-repeat;
  height: 34px;
  background-size: auto 100%;
  width: 74px;
}
.demo_on_off.onswitch {
  background: url(../../images/on_new.png) no-repeat;
  height: 34px;
  background-size: auto 100%;
  width: 74px;
}
.demo_on_off{
 top: 15px;
 left: 15px;
}

  .make_style_form div.size-box {
    margin: 5px;
    padding: 5px;
    border: 0px;
    /*border: 2px solid #e7e6e6;*/
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
    border-radius: 5px;
    font-size:1.1rem !important;
  }
  .make_style_form div.size-box strong , .make_style_form div.size-box .s_size2 div{
   font-size:0.9rem !important;
 }
 #input_text::-webkit-input-placeholder {
  text-align: center;
  padding-top: 1%;
}
textarea#input_text {
  text-align: center;
  padding-top: 6%;
  background: #f5f5f5;
  border-radius: 5px;
}
.option-label{
  text-transform: uppercase !important;
  
  font-size: 15pt !important;
}
.make_style_form div.size-box.active,.make_style_form div.size-box:hover {
  box-shadow: unset;
  border-color: transparent;
  border-radius: 5px;
  border: 2px solid #00d1e4;
  background: #fff;
}

.make_style_form .size-box .s_price div:nth-child(2) ,.make_style_form .s_size2 div:nth-child(2),.make_style_form .s_size div:nth-child(2){
  /*background: #e7e6e6;*/
  background: #f5f5f5;
}
.make_style_form div.size-box.active .s_price div:nth-child(2) ,.make_style_form div.size-box.active .s_size2 div:nth-child(2),.make_style_form div.size-box.active .s_size div:nth-child(2),
.make_style_form div.size-box:hover .s_price div:nth-child(2) ,.make_style_form div.size-box:hover .s_size2 div:nth-child(2),.make_style_form div.size-box:hover .s_size div:nth-child(2),
.make_style_form div.size-box.active strong ,.make_style_form div.size-box.active .s_size2 div,.make_style_form div.size-box.active .s_size div,
.make_style_form div.size-box:hover strong ,.make_style_form div.size-box:hover .s_size2 div,.make_style_form div.size-box:hover .s_size div{
  background: #fff;
}
.make_style_form .size-box .s_price div:nth-child(2) {
  color: #404040;
  
  font-size: 19px;
  padding-left: 0px;
}
.dropdown-design ,.dropdown-toggle-design{
  background: #f5f5f5;
  padding: 10px 0;
  border-radius: 5px;
  margin: 10px;
  
}

/* .dropdown-toggle-design li:nth-child(1) a{
  color: #00d1e4;
} */
.dropdown-design .btn-default{
  background: #f5f5f5;
  border: 0px;
}
.dropdown-toggle-design {
  margin: 10px 0px;
}
.total-section {
  background: #f5f5f5;
  
/* font-family: 'Brandon_bld'; */

  padding: 15px;
  border-radius: 5px;
  text-align: left;
}
.total_sel_price{
  float: right;
}
button#add_to_cart {
  padding: 15px;
  border-radius: 5px;
  
/* font-family: 'Brandon_bld'; */

  font-size: 140%;
}
.get-quote-btn{
  color: #5d5d5d !important;
  font-weight: bolder;
  text-transform: uppercase;
}
/* 1-10-20 */
strong, .strong{
  background: #f5f5f5;
  text-transform: capitalize;
  padding-left: 0px;
}
.s_size2 div, .s_size div {
  background: #f5f5f5;
}
.plug_style label{
  text-transform: uppercase;
  


}
.form-group.plug_style{
  margin-left: 10px;
}
.plug_style h4{
  
  color: #333333e8;
}
.demo_text{
  border-radius: 1px;
}
.form-group.plug_style .btn-default{
 border: 0;
 background: #f5f5f5;
}
.form-group.plug_style i{
 border: 0;
}
@media screen and (min-width: 992px){
  .demo_text {
   padding-top: 90%;
   background-position: top center;
 }
}
@media screen and (max-width: 991px){

  body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  .custom {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }   
  
  .bg_style li {
   height: 65px;
   background-size: cover;
 }
}
@media screen and (max-width: 767px){

  body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  .custom {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }       
  
  .demo_text {
    padding-top: 92%;
    background-position: top center;
  }
  .col-xs-12.top-logo {
    float: none;
  }
  .color_desc {
    background-color:#fff !important;   
  }
}
@media handheld, screen and (min-width: 768px) and (max-width: 991px){
  .col-xs-12.top-logo {
    float: none;
  }
  .demo_text {
    background-position: top center;
  }
}

div.announement1.DskOnly{z-index: 999;left: 0;right: 0;text-align: center;color: #222;padding: 9px 0 0px 0;min-height:40px}
div.announement1.DskOnly img{margin: 0 5px  0; width:17px;}
div.announement1 span a{color:#FF74F9}
div.announement1 span a:hover{color:#FF74F9}
div.announement1.DskOnly span{display:inline-block;vertical-align:top;font-size:15px;}
div.announement1.MobOnly{z-index: 999;left: 0;right: 0;text-align: center;color: #222;padding: 12px 0 3px 0;}
div.announement1.MobOnly img{margin: 0 5px 0 0;width:17px;}
div.announement1.MobOnly span{display:inline-block;vertical-align:top;font-size:14px;}
div.announement1.DskOnly span.imo{margin-top:0px;margin-bottom:4px}
/* Added By Jayeshkumar Lakum For Top Search Start*/
.cusSearch .block.block-search {position: absolute;width: 460px;background: #fff;margin-top:17px;right: 0px;padding: 0px;display: none;}
.cusSearch .block.block-search.show{display:block}
.cusSearch .block-search .block-title    {display:none;}
.search-toggle-icon {width: 30px;height: 24px;background: url(../images/search.png) no-repeat;display: inline-block;background-size: 20px;background-position: center;}   
.shop-ul li.cusSearch .search-area {margin-top: -2px;position: absolute;}         
.shop-ul li.cusCart {margin-top: -6px !important;margin-left: 13px;padding-top: 0 !important;}
.block.block-search .label{display:none;}
.cusSearch #search {border: 1px solid #ccc;width: 100%;font-size: 15px;padding: 6px 11px;letter-spacing: 0.5px;padding-right: 180px;height: 36px;}
.cusSearch .search-category select {width: 100%;border: 1px solid;font-size: 14px;padding: 5px 26px 5px 14px;background: url(../images/select-bg.svg) no-repeat !important;background-size: 20px;border-color: #dbe0e2;color: #777;background-position: right center !important;height:36px}
.cusSearch .action.search {position: absolute;right: 2px;top: 0;z-index: 1;display: inline-block;-moz-box-sizing: content-box;border: 0;box-shadow: none;text-decoration: none;text-shadow: none;font-weight: 400;line-height: 40px;font-size: 0;background: url(../images/searchicon.png) no-repeat;width: 30px;height: 100%;background-size: 18px;background-position: center;padding: 0;}
.autocomplete-suggestions {background: #fff;}
.autocomplete-suggestion {background: #fff;border-bottom: 1px solid #d0d0d0;float: left;width: 100%;padding: 13px 12px;}
.autocomplete-suggestion:hover {background: #EEF3D6;}
.autocomplete-suggestion:last-child {border: none;margin-bottom: 0;}
.autocomplete-suggestions .suggestion-left {float: left;margin-right: 20px;}
.autocomplete-suggestions .suggestion-right{overflow: hidden;}
.autocomplete-suggestions .short-des {margin: 0px;font-size: 0.9em;color: #aaa;line-height: normal;}
.autocomplete-suggestions .product-price{font-size: 12px;color:#000}
.autocomplete-suggestions .product-name{font-size: 14px;color: #3399cc;display: block;overflow: hidden;text-overflow: ellipsis;}
@media screen and (max-width:1199px){
  /*.cusSearch .block.block-search{margin-right:-60px;}*/
}
@media screen and (max-width:767px){
  .site-header{display:block !important}
  .site-header .col-md-2.col-sm-2.col-xs-2.main-menu-wrapper {display: none;}
  .site-header .shop-ul li {display: none;}
  .site-header .shop-ul li.cusSearch {display: block;}
  .site-header .shop-ul li.cusCart {display: block;}
  .site-header .visible-xs.visible-sm.menu-toggle,
  .site-header .shopping_cart_xs.visible-xs.visible-sm {display: none !important;}
  .site-header .top-header {position: absolute;top: 0px;right: 50px;background: none;}
  .site-header .shop-ul {padding: 6px 0 0 0;margin-left: 160px !important;
  /* font-family: 'Oswald'; */
  overflow: hidden;height: 59px;width: 120px;padding-top: 0;
  margin-top: -5px;}
  .cusSearch .block.block-search {right: -30px;width: 341px;}
  .top-header .main-menu-wrapper{background: none}
  
} /*
@media screen and (max-width: 991px){
  
  .visible-lg.demo_box_side{
    display: block !important;

  }
  .visible-lg.demo_box_side .slidecontainer{
    display: none;
  }
  .visible-lg.demo_box_side .demo_text{
    display: none;
  }
  .col-md-6 button.btn.btn-need {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px){
  .two_btn .row{
   margin-right: -15px;
   margin-left: -11px;
 }
} */
.two_btn .col-md-6 a{
color: #2b2b2b;
}
/* Added By Jayeshkumar Lakum For Top Search End*/
/*tabnew*/
.nav-tabs li a {
border: 0 !important;
}
.nav-tabs.custom_tab{
border: 1px solid #00d1e4;
}
.nav-tabs.custom_tab{
background: none;
}
.nav-tabs.custom_tab li{
border-right: 0;
}
.nav-tabs.custom_tab > li > a:before {
content: " ";
display: block;
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 10px solid #00d1e4;
position: absolute;
top: 50%;
margin-top: -20px;
margin-left: 1px;
left: 100%;
z-index: 1;
}
.nav-tabs.custom_tab > li > a:after {
content: " ";
display: block;
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 10px solid #ffffff;
position: absolute;
top: 50%;
margin-top: -20px;
left: 100%;
z-index: 2;
}
.nav-tabs.custom_tab li a {
color: #00d1e4;
text-shadow: none;
}
.nav-tabs.custom_tab > li.active > a, .nav-wizard > li.active > a:hover, .nav-tabs.custom_tab > li.active > a:focus {
color: #ffffff;
background: #00d1e4 !important;
}
.nav-tabs.custom_tab>li.active>a, .nav-tabs.custom_tab>li.active>a:focus, .nav-tabs.custom_tab>li.active>a:hover{
background-color: #00d1e4;
}
.nav-tabs.custom_tab > li:not(:last-child) > a {
margin-right: 0;
}
.nav-tabs.custom_tab > li.active:not(:last-child) > a:after{
border-left: 10px solid #00d1e4;
}
.nav-tabs.custom_tab > li:last-child.active > a:before, 
.nav-tabs.custom_tab > li:last-child > a:after, .nav-tabs.custom_tab > li:last-child > a:before{
display: none;
}
.nav-tabs.custom_tab > li:last-child.active > a:after{
width: 1px;
right: -1px;
background: #00d1e4;
content: "";
display: inline-block;
border: 0;
height: 100%;
left: inherit;
}
/*tabnewend*/
#quoteform{
width: 100%;
}
#quoteform button.btn.btn-success {
display: inline-block;
text-decoration: none;
color: #FFF;
text-align: center;
transition: all 0.5s;
background-color: #404040;
width: 100%;
letter-spacing: 3px;
max-width: 280px;
margin: auto;
padding: 15px;
border-radius: 5px;

font-size: 140%;
border: 0.1em solid #404040;
outline: none !important;
}
#quoteform button.btn.btn-success:hover {
color: #FFF;
background-color: #ff6df9;
}
.two_btn {
margin-bottom: 0;
padding: 30px 0;
}
.two_btn .btn{
display: inline-block;
text-decoration: none;
text-align: center;
transition: all 0.5s;
background-color: #f4f4f4;
width: 100%;
letter-spacing: 0;
margin: auto;
padding: 15px;
border-radius: 5px;

font-size: 20px;
outline: none !important;
text-transform: none;
}

#quoteform {
margin: 0;
padding: 10px 30px;
}
#quoteform .for_more{
font-size: 20px;
text-transform: uppercase;
}
#heading-section h3.rush-order{
letter-spacing: 3px;

}
.color_style #color_table li.col-xs-2.rush-order{
width: 16% !important;
}
a.rush-order {
color: #fff;
}
a.standard-order {
color: #fff;
}
.rush-order-info, .standard-view-info{
  margin-top: 10px;
  margin-bottom: 5px;
  background: #00d1e4;
  color: #fff;
  font-weight: 400;
  
  font-size: 16px;
  padding: 7px 0;
  border-radius: 5px;
  clear:both;
}
.size-notice, .size-notice-lenght, .size-notice-height{
  border-radius: 5px;
}